[Unit]
Description=CS:GO server
After=network.target

[Service]
Type=simple
EnvironmentFile={{ csgo_server_conf_dir }}/csgo.conf
User={{ csgo_server_username }}
Group={{ csgo_server_username }}
ExecStart=/home/{{ csgo_server_username }}/server.sh
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csgo-server

[Install]
WantedBy=default.target