[Service]
EnvironmentFile={{ csgo_server_controller_conf_dir }}/csgo-ctrl.conf
WorkingDirectory={{ csgo_server_controller_deploy_dir }}
ExecStart=/usr/bin/node {{ csgo_server_controller_deploy_dir }}/app.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csgo-srv-ctrl
User=root
Group=root

[Install]
WantedBy=multi-user.target